# IMPORT LIBRARY

In [1]:
import numpy as np 
import string
from nltk.corpus import stopwords
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction.text import TfidfTransformer,TfidfVectorizer
from sklearn.pipeline import Pipeline

# LOAD THE DATASET

In [2]:
df = pd.read_csv(r'D:\COMPLETE PROJECT\AICTE CHATBOT\NORMAL CHATBOT\DATASET\dialogs.txt',sep='\t')
df

,"hi, how are you doing?",i'm fine. how about yourself?
0,i'm fine. how about yourself?,i'm pretty good. thanks for asking.
1,i'm pretty good. thanks for asking.,no problem. so how have you been?
2,no problem. so how have you been?,i've been great. what about you?
3,i've been great. what about you?,i've been good. i'm in school right now.
4,i've been good. i'm in school right now.,what school do you go to?
...,...,...
3719,that's a good question. maybe it's not old age.,are you right-handed?
3720,are you right-handed?,yes. all my life.
3721,yes. all my life.,you're wearing out your right hand. stop using...
3722,you're wearing out your right hand. stop using...,but i do all my writing with my right hand.
3723,but i do all my writing with my right hand.,start typing instead. that way your left hand ...

# PREPROCESS THE DATA

a = pd.Series(df.columns)

In [4]:
a = a.rename({0: df.columns[0],1: df.columns[1]})

In [5]:
b = {'Questions':'Hi','Answers':'hello'}

In [6]:
c = {'Questions':'Hello','Answers':'hi'}
d= {'Questions':'how are you','Answers':"i'm fine. how about yourself?"}

In [7]:
e= {'Questions':'how are you doing','Answers':"i'm fine. how about yourself?"}
df = df.append(a,ignore_index=True)

In [8]:
df.columns=['Questions','Answers']
df = df.append([b,c,d,e],ignore_index=True)

In [9]:
df

,Questions,Answers
0,i'm fine. how about yourself?,i'm pretty good. thanks for asking.
1,i'm pretty good. thanks for asking.,no problem. so how have you been?
2,no problem. so how have you been?,i've been great. what about you?
3,i've been great. what about you?,i've been good. i'm in school right now.
4,i've been good. i'm in school right now.,what school do you go to?
...,...,...
3724,"hi, how are you doing?",i'm fine. how about yourself?
3725,Hi,hello
3726,Hello,hi
3727,how are you,i'm fine. how about yourself?
3728,how are you doing,i'm fine. how about yourself?

In [10]:
df = df.append(c,ignore_index=True)
df = df.append(d,ignore_index=True)
df = df.append(d,ignore_index=True)
df

,Questions,Answers
0,i'm fine. how about yourself?,i'm pretty good. thanks for asking.
1,i'm pretty good. thanks for asking.,no problem. so how have you been?
2,no problem. so how have you been?,i've been great. what about you?
3,i've been great. what about you?,i've been good. i'm in school right now.
4,i've been good. i'm in school right now.,what school do you go to?
...,...,...
3727,how are you,i'm fine. how about yourself?
3728,how are you doing,i'm fine. how about yourself?
3729,Hello,hi
3730,how are you,i'm fine. how about yourself?
3731,how are you,i'm fine. how about yourself?

In [11]:
def cleaner(x):
    return [a for a in (''.join([a for a in x if a not in string.punctuation])).lower().split()]

# TRAINING THE MODEL

In [12]:
Pipe = Pipeline([
    ('bow',CountVectorizer(analyzer=cleaner)),
    ('tfidf',TfidfTransformer()),
    ('classifier',DecisionTreeClassifier())
])

In [13]:
Pipe.fit(df['Questions'],df['Answers'])

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function cleaner at 0x000001E9029D88B0>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', DecisionTreeClassifier())])

# PREDICTION

In [15]:
Pipe.predict(['What are you doing'])[0]

"i'm going to change the light bulb. it burnt out."

# SAVING THE MODEL

In [18]:
import pickle
filename = 'chatbot.pkl'
pickle.dump(DecisionTreeClassifier, open(filename, 'wb'))